@media screen {
    * {
        --ts-color-heading: #333333;
        --ts-color-body: #4c9b6f;
        --ts-color-background: #f0f8ec;
        --ts-color-link: #3aa57d;
        --ts-color-subtle: #eef0db;
        --ts-color-border: #569cd6;
        --ts-color-muted: #8fbc41;
        --ts-color-standout: #90ee90;
        --ts-font-weight-regular: 500;
        --ts-font-weight-bold: 900;
        data-typesettings: "golden sans-serif";
    }
}

@media print {
    * {
        --ts-color-heading: black;
        --ts-color-body: black;
        --ts-color-background: white;
        --ts-color-link: #333333;
        --ts-color-subtle #eeeeee;
        --ts-color-border: #cdcdcd;
        --ts-color-muted: #717171;
        --ts-color-standout: #d9d9d9;
        --ts-font-weight-regular: 300;
        --ts-font-weight-bold: 600;
        data-typesttings: "sans-serif";
    }
}

