/Archive
/tests
/templates
/components
*private*
*solutions*
*planning*
*skills*
*outreach*
*infrastructure*
*common_other*
*template*
*tst*
*/vids
*csv
*nim
*nims
*nimf
*nimib
*org
*pdf
*sync-conflict*
**/*slides*/*
#*
*/#*